<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jython_on_android">
    <application android:icon="@drawable/icon">
      <meta-data 
        android:name="org.python.util.JythonOnAndroidRunScript.path" 
        android:value="src/example/app" />
      <meta-data 
        android:name="org.python.util.JythonOnAndroidRunScript.script" 
        android:value="main.jython" />
      <activity android:name=".JythonOnAndroidRunScript" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
      </activity>
    </application>
</manifest> 
